@font-face {
    font-family: agrandir;
    src: url(/fonts/agrandir/Agrandir-GrandHeavy.otf);
}

@font-face {
    font-family: commuterSans;
    src: url(/fonts/commuters_sans/Fontspring-DEMO-commuterssans-regular.otf);
}

:root {
    --bg-color: #7454D9;
    --orange: #FF8A63;
    --blue: #94D1E4;
    --green: #5EBBA3;
    --dark-pink: #FFA7DE;
    --light-pink: #FFC1D7;
    --white: #fff;
    --black: #000;
}


html, body {
    background: var(--bg-color);
    height: 100%;
}


@media screen and (min-width: 992px) {
    #flower-bg {
        background-image: url(/images/purple-flower2.png), url(/images/orange-flower3.png);
        background-position: 11% 21%, 45% 60%!important;
        background-repeat: no-repeat, no-repeat;
        background-size: 250px 250px, 90px 90px!important;
    }

    .my-name {
        font-size: 72px!important;
        margin-top: 40px!important;
        padding-bottom: 30px!important;
    }

    .btn {
        width: 410px!important;
        height: 70px!important;
        font-size: 20px!important;
    }

    .content-center {
        /* transform: translate(0, 40%)!important; */
        transform: translate(0, 15%)!important;
    }
}

@media screen and (min-width: 600px) and (max-width: 991px) {
    #flower-bg {
        background-image: url(/images/purple-flower2.png), url(/images/orange-flower3.png);
        background-position: 25% 20%, 74% 36%;
        background-repeat: no-repeat, no-repeat;
        background-size: 200px 200px, 90px 90px;
    }

    .my-name {
        font-size: 72px;
        margin-top: 40px;
        padding-bottom: 30px;
    }

    .btn {
        width: 410px;
        height: 80px;
        font-size: 20px;
    }

    .content-center {
        transform: translate(0, 25%);
    }
}

@media screen and (max-width: 600px) {
    #flower-bg {
        background-image: url(/images/purple-flower2.png), url(/images/orange-flower3.png);
        background-position: top left, bottom right;
        background-repeat: no-repeat, no-repeat;
        background-size: 200px 200px, 90px 90px;
    }

    .my-name {
        padding-bottom: 10px!important;
    }
}


h1 {
    font-family: agrandir;
}

.my-name {
    color: var(--white);
    text-decoration: underline;
    font-size: 48px;
    padding-bottom: 40px;
}

.fab {
    color: var(--light-pink);
    padding: 20px;
    font-size: 2em;
}

.btn {
    width: 205px;
    height: 40px;
    border: 1px solid var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: agrandir;
    font-size: 14px;
    margin: 10px;
    text-transform: uppercase;
    color: var(--white);
}


.orange {
    background: var(--orange);
}

.blue {
    background: var(--blue);
}

.green {
    background: var(--green);
}

.dark-pink {
    background: var(--dark-pink);
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: inherit;
    opacity: 0.8;
}

.ps_1st {
    padding-left: 100px;
}

.ps_2nd {
    padding-left: 70px;
}

.ps_3rd {
    padding-left: 40px;
}

.copyright {
    font-size: 12px;
    color: var(--white);
    position: relative;
    bottom: -60px;
    left: 10px;
    font-family: commuterSans;
}